<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Compose"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Compose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TextButtonActivity"
            android:exported="false"
            android:label="Text &amp; Button 测试"
            android:theme="@style/Theme.Compose" />
        <activity
            android:name=".ListActivity"
            android:exported="false"
            android:label="列表加载测试"
            android:theme="@style/Theme.Compose" />
        <activity
            android:name=".ViewModelActivity"
            android:exported="false"
            android:label="ViewModel 绑定测试"
            android:theme="@style/Theme.Compose" />
        <activity
            android:name=".NavigationActivity"
            android:exported="false"
            android:label="Navigation 导航测试"
            android:theme="@style/Theme.Compose" />
        <activity
            android:name=".CustomViewActivity"
            android:exported="false"
            android:label="自定义控件测试"
            android:theme="@style/Theme.Compose" />
        <activity
            android:name=".BottomSheetActivity"
            android:exported="false"
            android:label="底部抽屉测试"
            android:theme="@style/Theme.Compose" />
        <activity
            android:name=".MVIActivity"
            android:exported="false"
            android:label="MVI 架构测试"
            android:theme="@style/Theme.Compose" />
        <activity
            android:name=".EffectActivity"
            android:exported="false"
            android:label="副作用 API 测试"
            android:theme="@style/Theme.Compose" />
    </application>

</manifest>